## <center> Capstone Project 1 Proposal </center> ##
### <center> Vikram Lucky

# [__1. Airbnb New User Bookings:__](https://www.kaggle.com/c/airbnb-recruiting-new-user-bookings)

### <font color =red>Problem Question: Where will new guest book their first trip?</font>
#### *“New users on Airbnb can book a place to stay in 34,000+ cities across 190+ countries. By accurately predicting where a new user will book their first travel experience, Airbnb can share more personalized content with their community, decrease the average time to first booking, and better forecast demand.”-Airbnb-Kaggle* ####
### Type: Multiclass Classification Problem
### Source: Kaggle Competition
### Data: Contains 5 .csv files

In [1]:
import pandas as pd
training_set = pd.read_csv('./train_users_2.csv')
countries = pd.read_csv('./countries.csv')
sessions = pd.read_csv('./sessions.csv')
age_gender_bkts = pd.read_csv('./age_gender_bkts.csv')
test = pd.read_csv('./test_users.csv')

In [2]:
print("Shape of Traning dataset: ", training_set.shape)
training_set.head(2)

Shape of Traning dataset:  (213451, 16)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF

In [3]:
print("Shape of Test set: ", test.shape)
test.head(2)

Shape of Test set:  (62096, 15)

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,2014-07-01,20140701000006,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,2014-07-01,20140701000051,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari

In [4]:
print("Shape of Countries dataset:", countries.shape)
print("countries.csv - summary statistics of destination countries in this dataset and their locations")
countries.head(2)

Shape of Countries dataset: (10, 7)
countries.csv - summary statistics of destination countries in this dataset and their locations

,country_destination,lat_destination,lng_destination,distance_km,destination_km2,destination_language,language_levenshtein_distance
0,AU,-26.853388,133.275160,15297.7440,7741220.0,eng,0.0
1,CA,62.393303,-96.818146,2828.1333,9984670.0,eng,0.0

In [5]:
print("Shape of Sessions: ", sessions.shape)
print("sessions.csv - web sessions log for users\
user_id: to be joined with the column 'id' in users table")
sessions.head(2)

Shape of Sessions:  (10567737, 6)
sessions.csv - web sessions log for usersuser_id: to be joined with the column 'id' in users table

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0

In [6]:
print("Shape of Age Gender bucket: ", age_gender_bkts.shape)
print("age_gender_bkts.csv - summary statistics of users' age group, gender, country of destination")
age_gender_bkts.head(2)

Shape of Age Gender bucket:  (420, 5)
age_gender_bkts.csv - summary statistics of users' age group, gender, country of destination

  age_bucket country_destination gender  population_in_thousands    year
0       100+                  AU   male                      1.0  2015.0
1      95-99                  AU   male                      9.0  2015.0

# [__2. New York City Taxi Fare Prediction:__](https://www.kaggle.com/c/new-york-city-taxi-fare-prediction)

### <font color =red>Problem Question: Can you predict a rider's taxi fare?</font>
#### *“Predicting the fare amount for a taxi ride in New York City given the pickup and dropoff locations."-Kaggle* ####
### Type: Regression, Huge dataset (Might use AWS, EC2 for it)
### Source: Kaggle Playground Competition
### Data: Contains 2 .csv files

In [7]:
train = pd.read_csv('../New_York_City_Taxi_Fare_Prediction/train.csv')

In [8]:
test = pd.read_csv('../New_York_City_Taxi_Fare_Prediction/test.csv')

In [9]:
print("Shape of Traning dataset: ", train.shape)
train.head(2)

Shape of Traning dataset:  (55423856, 8)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1

In [10]:
print("Shape of test dataset: ", test.shape)
test.head(2)

Shape of test dataset:  (9914, 7)

,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2015-01-27 13:08:24.0000002,2015-01-27 13:08:24 UTC,-73.973320,40.763805,-73.981430,40.743835,1
1,2015-01-27 13:08:24.0000003,2015-01-27 13:08:24 UTC,-73.986862,40.719383,-73.998886,40.739201,1