In [28]:
import pandas as pd
import numpy as np

In [29]:
users = pd.read_csv("./users.csv")

In [30]:
users.head()

   Unnamed: 0 weekday    city  visitors  signups
0           0     Sun  Austin       139        7
1           1     Sun  Dallas       237       12
2           2     Mon  Austin       326        3
3           3     Mon  Dallas       456        5

## Example of pivot tables

In [31]:
# Pivot the users DataFrame: visitors_pivot
visitors_pivot = users.pivot(index='weekday',
                             columns='city',
                             values='visitors')

# Print the pivoted DataFrame
print(visitors_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

In [32]:
# Pivot users with signups indexed by weekday and city: signups_pivot
signups_pivot = users.pivot(index='weekday', columns='city', values='signups')

# Print signups_pivot
print(signups_pivot)

# Pivot users pivoted by both signups and visitors: pivot
pivot = users.pivot(index='weekday', columns='city')

# Print the pivoted DataFrame
print(pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12
        Unnamed: 0        visitors        signups
city        Austin Dallas   Austin Dallas  Austin Dallas
weekday
Mon              2      3      326    456       3      5
Sun              0      1      139    237       7     12

## Good use of PIVOT TABLES

In [37]:
medals = pd.read_csv('./all_medalists.csv')
medals.head(2)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver

In [40]:
# Construct the pivot table: counted
counted = medals.pivot_table(index = 'NOC', values='Athlete', columns='Medal', aggfunc='count')
# Create the new column: counted['totals']
counted['totals'] = counted.sum(axis='columns')

# Sort counted by the 'totals' column
counted = counted.sort_values('totals', ascending =False)

# Print the top 15 rows of counted
print(counted.head(15))

Medal  Bronze    Gold  Silver  totals
NOC
USA    1052.0  2088.0  1195.0  4335.0
URS     584.0   838.0   627.0  2049.0
GBR     505.0   498.0   591.0  1594.0
FRA     475.0   378.0   461.0  1314.0
ITA     374.0   460.0   394.0  1228.0
GER     454.0   407.0   350.0  1211.0
AUS     413.0   293.0   369.0  1075.0
HUN     345.0   400.0   308.0  1053.0
SWE     325.0   347.0   349.0  1021.0
GDR     225.0   329.0   271.0   825.0
NED     320.0   212.0   250.0   782.0
JPN     270.0   206.0   228.0   704.0
CHN     193.0   234.0   252.0   679.0
RUS     240.0   192.0   206.0   638.0
ROU     282.0   155.0   187.0   624.0

Trying to understand why do we have Gender and Event_gender

In [41]:
# Group medals by the two columns: medals_by_gender
medals_by_gender = medals.groupby(['Event_gender', 'Gender'])

# Create a DataFrame with a group count: medal_count_by_gender
medal_count_by_gender = medals_by_gender.count()

# Print medal_count_by_gender
print(medal_count_by_gender)

                      City  Edition  Sport  Discipline  Athlete    NOC  Event  \
Event_gender Gender
M            Men     20067    20067  20067       20067    20067  20067  20067
W            Men         1        1      1           1        1      1      1
             Women    7277     7277   7277        7277     7277   7277   7277
X            Men      1653     1653   1653        1653     1653   1653   1653
             Women     218      218    218         218      218    218    218

                     Medal
Event_gender Gender
M            Men     20067
W            Men         1
             Women    7277
X            Men      1653
             Women     218

In [42]:
# Create the Boolean Series: sus
sus = ((medals.Event_gender == 'W') & (medals.Gender == 'Men'))

# Create a DataFrame with the suspicious row: suspect
suspect = medals[sus]

# Print suspect
print(suspect)

         City  Edition      Sport Discipline            Athlete  NOC Gender  \
23675  Sydney     2000  Athletics  Athletics  CHEPCHUMBA, Joyce  KEN    Men

          Event Event_gender   Medal
23675  marathon            W  Bronze

In [50]:
# Extract all rows for which the 'Edition' is between 1952 & 1988: during_cold_war
during_cold_war = (medals.Edition >= 1952) & (medals.Edition <= 1988)

# Extract rows for which 'NOC' is either 'USA' or 'URS': is_usa_urs
is_usa_urs = medals.NOC.isin(['USA', 'URS'])

# Use during_cold_war and is_usa_urs to create the DataFrame: cold_war_medals
cold_war_medals = medals.loc[during_cold_war & is_usa_urs]

# Group cold_war_medals by 'NOC'
country_grouped = cold_war_medals.groupby('NOC')

# Create Nsports
Nsports = country_grouped.Sport.nunique().sort_values(ascending=False)

# Print Nsports
print(Nsports)

NOC
URS    21
USA    20
Name: Sport, dtype: int64

In [51]:
usa = medals[medals['NOC'] == 'USA']

In [53]:
usa

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
11,Athens,1896,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
19,Athens,1896,Athletics,Athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
22,Athens,1896,Athletics,Athletics,"JAMISON, Herbert",USA,Men,400m,M,Silver
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
30,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,high jump,M,Silver
31,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,high jump,M,Silver
32,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,long jump,M,Bronze
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
34,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,long jump,M,Silver
40,Athens,1896,Athletics,Athletics,"HOYT, William Welles",USA,Men,pole vault,M,Gold
41,Athens,1896,Athletics,Athletics,"TYLER, Albert",USA,Men,pole vault,M,Silver
43,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,shot put,M,Gold
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
118,Athens,1896,Shooting,Shooting,"PAINE, John",USA,Men,25m army pistol,M,Gold
119,Athens,1896,Shooting,Shooting,"PAINE, Sumner",USA,Men,25m army pistol,M,Silver
124,Athens,1896,Shooting,Shooting,"PAINE, Sumner",USA,Men,50m pistol (60 shots),M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
232,Paris,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",USA,Men,100m,M,Silver
233,Paris,1900,Athletics,Athletics,"MOLONEY, Frederick",USA,Men,110m hurdles,M,Bronze
234,Paris,1900,Athletics,Athletics,"KRAENZLEIN, Alvin",USA,Men,110m hurdles,M,Gold
235,Paris,1900,Athletics,Athletics,"MCLEAN, John",USA,Men,110m hurdles,M,Silver
236,Paris,1900,Athletics,Athletics,"BRAY, John",USA,Men,1500m,M,Bronze
240,Paris,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",USA,Men,200m,M,Gold
242,Paris,1900,Athletics,Athletics,"TEWKSBURY, Walter B. John",USA,Men,200m hurdles,M,Bronze
243,Paris,1900,Athletics,Athletics,"KRAENZLEIN, Alvin",USA,Men,200m hurdles,M,Gold
252,Paris,1900,Athletics,Athletics,"LONG, Maxwell W.Maxey",USA,Men,400m,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29019,Beijing,2008,Volleyball,Beach volley.,"ROGERS, Todd",USA,Men,beach volleyball,M,Gold
29024,Beijing,2008,Volleyball,Beach volley.,"MAY-TREANOR, Misty",USA,Women,beach volleyball,W,Gold
29025,Beijing,2008,Volleyball,Beach volley.,"WALSH, Kerri",USA,Women,beach volleyball,W,Gold
29040,Beijing,2008,Volleyball,Volleyball,"BALL, Lloy",USA,Men,volleyball,M,Gold
29041,Beijing,2008,Volleyball,Volleyball,"GARDNER, Gabriel",USA,Men,volleyball,M,Gold
29042,Beijing,2008,Volleyball,Volleyball,"HANSEN, Kevin",USA,Men,volleyball,M,Gold
29043,Beijing,2008,Volleyball,Volleyball,"HOFF, Thomas",USA,Men,volleyball,M,Gold
29044,Beijing,2008,Volleyball,Volleyball,"LAMBOURNE, Richard",USA,Men,volleyball,M,Gold
29045,Beijing,2008,Volleyball,Volleyball,"LEE, David",USA,Men,volleyball,M,Gold
29046,Beijing,2008,Volleyball,Volleyball,"MILLAR, Ryan",USA,Men,volleyball,M,Gold
29047,Beijing,2008,Volleyball,Volleyball,"PRIDDY, William",USA,Men,volleyball,M,Gold
29048,Beijing,2008,Volleyball,Volleyball,"ROONEY, Sean",USA,Men,volleyball,M,Gold
29049,Beijing,2008,Volleyball,Volleyball,"SALMON, Riley",USA,Men,volleyball,M,Gold
29050,Beijing,2008,Volleyball,Volleyball,"STANLEY, Clayton",USA,Men,volleyball,M,Gold
29051,Beijing,2008,Volleyball,Volleyball,"TOUZINSKY, Scott",USA,Men,volleyball,M,Gold
29088,Beijing,2008,Volleyball,Volleyball,"AH MOW-SANTOS, Robyn",USA,Women,volleyball,W,Silver
29089,Beijing,2008,Volleyball,Volleyball,"BERG, Lindsey",USA,Women,volleyball,W,Silver
29090,Beijing,2008,Volleyball,Volleyball,"BOWN, Heather",USA,Women,volleyball,W,Silver
29091,Beijing,2008,Volleyball,Volleyball,"DAVIS, Nicole",USA,Women,volleyball,W,Silver
29092,Beijing,2008,Volleyball,Volleyball,"GLASS, Kimberly",USA,Women,volleyball,W,Silver
29093,Beijing,2008,Volleyball,Volleyball,"HANEEF-PARK, Tayyiba",USA,Women,volleyball,W,Silver
29094,Beijing,2008,Volleyball,Volleyball,"JOINES, Jennifer",USA,Women,volleyball,W,Silver
29095,Beijing,2008,Volleyball,Volleyball,"NNAMANI, Ogonna",USA,Women,volleyball,W,Silver
29096,Beijing,2008,Volleyball,Volleyball,"SCOTT-ARRUDA, Danielle",USA,Women,volleyball,W,Silver
29097,Beijing,2008,Volleyball,Volleyball,"SYKORA, Stacy",USA,Women,volleyball,W,Silver
29098,Beijing,2008,Volleyball,Volleyball,"TOM, Logan",USA,Women,volleyball,W,Silver
29099,Beijing,2008,Volleyball,Volleyball,"WILLOUGHBY, Kim",USA,Women,volleyball,W,Silver
29151,Beijing,2008,Wrestling,Wrestling Free.,"CEJUDO, Henry",USA,Men,- 55kg,M,Gold
29161,Beijing,2008,Wrestling,Wrestling Free.,"MILLER, Randi",USA,Women,55 - 63kg,W,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze